.Signup {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.SignupBox {
    width: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 8px grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.SignupBox hr {
    border: 1px solid lightgrey;
    width: 100%;
    margin: 15px 0;
}

.SignupBox button {
    width: 200px;
    cursor: pointer;
}

.SignupBox p {
    color: red;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.InputContainer input, .InputContainer select {
    border: none;
    height: 35px;
    outline: 1px solid lightgrey;
}

.InputContainer label {
    min-width: 200px;
}

.InputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.InputContainer input:focus, .InputContainer select:focus {
    outline: 1px solid lightgrey;
}

@media only screen and (max-width: 1140px) {
    .SignupBox {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 700px) {
    .SignupBox {
        width: 100%;
        margin: 0 10px;
    }
    
    .InputContainer {
        flex-direction: column;
    }

    .InputContainer label {
        width: 100%;
        margin-bottom: 5px;
    }

    .SignupBox h3 {
        text-align: center;
    }
}