.LandingPage {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LandingPage h1, .LandingPage h3 {
    color: white;
    text-align: center;
    margin: 3rem 0;
}

.LandingPage hr {
    border: 1px solid white;
    width: 100px;
}

.LandingPage h1 {
    font-size: 1.7rem;
}

@media only screen and (max-width: 800px) {
    .LandingPage {
        padding: 0 10px;
    }

    .LandingPage h1, .LandingPage h3 {
        margin: 1.2rem 0;
    }

    .LandingPage h1 {
        font-size: 1.2rem;
    }

    .LandingPage h2 {
        font-size: 0.5rem;
    }
}