.NewProperty {
    background-color: white;
    margin-top: 75px;
    padding: 20px;
}

.NewProperty input, .NewProperty select, .NewProperty textarea {
    border: none;
    height: 35px;
    outline: 1px solid lightgrey;
}

.NewProperty form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.NewProperty h3 {
    width: 100%;
}

.NewProperty {
    display: flex;
    flex-direction: column;
}

.NewProperty hr {
    border: 1px solid lightgrey;
    width: 100%;
    margin: 10px 0;
}

.NewProperty button {
    width: 150px;
    margin: 10px 0 0 auto;
}

.ButtonContainer {
    margin-left: auto;
}

.NewProperty form div button:first-child {
    margin-right: 10px;
    background-color: grey;
    padding: 0;
}

.NewProperty form div a:link, .NewProperty form div a:visited {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
}

.NewProperty input:focus, .NewProperty select:focus, .NewProperty textarea:focus {
    outline: 1px solid lightgrey;
}

.NewProperty textarea {
    min-height: 200px;
}

.InputContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.InputContainer input, .InputContainer select, .InputContainer textarea {
    width: 100%;
}

.CheckBoxContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
}

.CheckBoxContainer h3 {
    width: 100%;
}

.CheckBoxUnitContainer {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.CheckBoxUnitContainer h3 {
    width: 100%;
}

.CheckBoxUnitContainer label {
    margin-right: 10px;
}

.CheckBoxUnitContainer input {
    outline: none;
}

@media only screen and (max-width: 1140px) {
    .NewProperty {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .ButtonContainer {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .NewProperty form div button:first-child {
        margin-right: 0;
    }
}