.spanPropertyType,
.spanStatus,
.spanNumberOfPets,
.spanTypeOfPets {
    display: block;
    width: 11%;
    padding: 0 5px;
    text-align: center;
    font-size: 0.9rem;
}

.spanClose {
    display: flex;
    width: 11%;
    padding: 0 5px;
    justify-content: flex-end;
}

.spanClose svg {
    margin: 0 5px;
}

.spanClose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spanClose > div {
    display: flex;
    justify-content: flex-end !important;
}

.spanClose button {
    height: 30px;
}

.spanAddressContainer,
.spanAddress {
    display: block;
    width: 35%;
    padding: 0 5px;
}

.spanAddressLocation {
    display: block;
    width: 100%;
    padding: 0 5px;
    font-size: 0.9rem;
}

.spanAddressContainer > div {
    display: flex;
    align-items: center;
}

.spanName {
    font-weight: 500;
}

.spanListingImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.spanListingImageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.spanNumberOfPets svg {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .spanAddressContainer,
    .spanAddress {
        width: 32%;
    }
}

@media only screen and (max-width: 900px) {
    .spanAddressContainer,
    .spanAddress {
        width: 63%;
    }

    .spanClose {
        display: flex;
        margin-left: auto;
        width: auto;
    }

    .spanPropertyType,
    .spanStatus,
    .spanNumberOfPets,
    .spanTypeOfPets {
        order: 2;
        width: 25%;
        margin-top: 15px;
    }

    .spanListingImage {
        width: 100px;
    }

    .spanNumberOfPets svg {
        display: inline;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .spanAddressContainer,
    .spanAddress {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .spanAddressContainer > div {
        margin: auto;
        justify-content: center;
    }

    .spanAddressLocation {
        width: auto;
    }

    .spanPropertyType,
    .spanStatus,
    .spanNumberOfPets,
    .spanTypeOfPets {
        margin-top: 5px;
        justify-content: space-between;
    }

    .spanListingImage {
        margin: auto;
    }

    .spanClose {
        position: absolute;
        right: 0;
    }
}

@media only screen and (max-width: 400px) {
    .spanPropertyType,
    .spanStatus,
    .spanNumberOfPets,
    .spanTypeOfPets {
        width: 100%;
    }
}
